<!-- launch file for brining up kobuki within a real map -->

<!-- bringup kobuki -->

<include file="$(find turtlebot_bringup)/launch/minimal.launch" >
</include>

<launch>


<include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" >

	<arg name="map_file" value="$(find ohm_coffee)/maps/four_blocks.yaml"/>

</include>

<!-- run server node -->

<node pkg = "ohm_coffee" type = "simple_server_main" name = "android_server" >
</node>


<!-- launch positions node -->

<include file="$(find ohm_coffee)/launch/targetPositioning.launch" >
</include>



<!-- opening rviz for visualization 

<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" >
		
</include>

-->

</launch>

