<launch>



<include file="$(find ohm_coffee)/launch/turtlebot_map.launch" />

<!--

<include file="$(find ohm_coffee)/launch/turtlebot_mapping.launch" >
	<arg name="simulation" value="true" />
</include>

<include file="$(find ohm_coffee)/launch/turtlebot_rviz.launch" />

-->

<!-- Launches joy node for controlling Kobuki -->

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="10" />

  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>




<!-- Launches kobuki_controller-node -->

  <node pkg="ohm_coffee" type="turtlebot_nav_control" name="teleop"/>

</launch>

