<launch>



<include file="$(find ohm_coffee)/launch/ext/turtlebot_map.launch" />



<include file="$(find ohm_coffee)/launch/ext/turtlebot_mapping.launch" >
	<arg name="simulation" value="true" />
</include>

<include file="$(find ohm_coffee)/launch/ext/turtlebot_rviz.launch" />


<include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" />


<!-- Launches kobuki_controller-node -->

  <node pkg="ohm_coffee" type="tb_nav_control" name="teleop"/>

</launch>

